@page
@model LogInModel
@{
    ViewData["Title"] = "Log In or Sign Up";
}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="js/site.js"></script>
    </head>
    <body>
        <div class="wrapper">
            @if (HttpContext.Request.Query["success"] == "false") {
                <h6 class="center">Unable to log in. Please create an account or try again.</h6>
            }
            @if (HttpContext.Request.Query["success"] == "alreadyexists") {
                <h6 class="center">A user with that email address is already registerted.</h6>
            }
            <div id="signUpDiv">
                <h1><span>Create a New Account</span></h1>
                <div class="container">
                    <form asp-page-handler="button" onsubmit="return validateSignUp()" method="post">
                        <!-- above line validates the form when submitted. SignUp is not yet built to accept form inputs -- this will be connected to mongodb for Create operations.
                        We can use javascript local storage to store the values we want to add to mongodb if we want to do additional client-side validation first, since description text will be too long to pass by URL string query -->
                        <div class="row">
                            <div class="col25percent">
                                <label for="nameSignUp">Full Name</label>
                            </div>
                            <div class="col75percent">
                                <input type="text" id="nameSignUp" name="nameSignUp" placeholder="John Smith">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col25percent">
                                <label for="nameSignUp">Company</label>
                            </div>
                            <div class="col75percent">
                                <input type="text" id="companySignUp" name="companySignUp" placeholder="ABC Corp">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col25percent">
                                <label for="emailSignUp">Email Address</label>
                            </div>
                            <div class="col75percent">
                                <input type="text" id="emailSignUp" name="emailSignUp" placeholder="example@email.com">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col25percent">
                                <label for="phoneSignUp">Phone Number</label>
                            </div>
                            <div class="col75percent">
                                <input type="text" id="phoneSignUp" name="phoneSignUp" placeholder="+X (XXX) XXX-XXXX">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col25percent">
                                <label for="locationSignUp">Location</label>
                            </div>
                            <div class="col75percent">
                                <input type="text" id="locationSignUp" name="locationSignUp" placeholder="City, Country">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col25percent">
                                <label for="passwordSignUp">Create a Password</label>
                            </div>
                            <div class="col75percent">
                                <input type="password" id="passwordSignUp" name="passwordSignUp" placeholder="Choose a strong password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col25percent">
                                <label for="pictureSignUp" placeholder="https://example.com/profile-picture.png">Link your picture (optional)</label>
                            </div>
                            <div class="col75percent">
                                <input type="text" id="pictureSignUp" name="pictureSignUp">
                            </div>
                        </div>
                        <div class="row" style="text-align: center; justify-content: center">
                            <button class="btn2" style="background-color: #ffd900; padding-top: 10px">Sign Up</button>
                        </div>
                    </form>
                </div>
                
                <div style="text-align: center">
                    <button class="btn2" onclick="toLogIn()">I already have an account</button>
                </div>
            </div>
            <div id="logInDiv" style="display: none">
                <h1><span>Log In to Your Account</span></h1>
                <div class="container">
                    <form asp-page-handler="button" onsubmit="return validateLogIn()" method="post"> 
                        <!-- above line validates the form when submitted. SignUp is not yet built to accept form inputs -- this will be connected to mongodb for Create operations.
                        We can use javascript local storage to store the values we want to add to mongodb if we want to do additional client-side validation first, since description text will be too long to pass by URL string query -->
                        <div class="row">
                            <div class="col25percent">
                                <label for="emailLogIn">Email Address</label>
                            </div>
                            <div class="col75percent">
                                <input type="text" id="emailLogIn" name="emailLogIn" placeholder="example@email.com">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col25percent">
                                <label for="passwordLogIn">Password</label>
                            </div>
                            <div class="col75percent">
                                <input type="password" id="passwordLogIn" name="passwordLogIn">
                            </div>
                        </div>
                        <div class="row" style="text-align: center; justify-content: center">
                            <button class="btn2" style="background-color: #ffd900; padding-top: 10px">Log In</button>
                        </div>
                    </form>
                </div>
                <div style="text-align: center">
                    <button class="btn2" onclick="toSignUp()">I don't have an account</button>
                </div>
            </div>
        </div>
    </body>
</html>