@page
@model SubmitModel
@{
    ViewData["Title"] = "Submit a new business case";
}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="site.css"> 
        <script src="js/site.js"></script>
         <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-192721075-1"></script>
                <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-192721075-1');
                </script>
            <!-- Google Tag Manager -->
                <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-KLDZ6Z2');</script>
            <!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLDZ6Z2"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <h1><span>Submit a Business Case</span></h1>
        <div class="container">
            <form action="CreateCase" onsubmit="return validateCaseSubmission()" method="POST"> 
                <!-- above line validates the form when submitted. CreateCase is not yet built to accept form inputs -- this will be connected to mongodb for Create operations.
                We can use javascript local storage to store the values we want to add to mongodb if we want to do additional client-side validation first, since description text will be too long to pass by URL string query -->
                <div class="row">
                    <div class="col25percent">
                        <label for="fname">Full Name</label>
                    </div>
                    <div class="col75percent">
                        <input type="text" id="fullname" name="fullname" placeholder="Your name">
                    </div>
                </div>
                <div class="row">
                    <div class="col25percent">
                        <label for="title">Business Problem Title</label>
                    </div>
                    <div class="col75percent">
                        <input type="text" id="title" name="title" placeholder="Concise and searchable title">
                    </div>
                </div>
                <div class="row">
                    <div class="col25percent">
                        <label for="country">Country</label>
                    </div>
                    <div class="col75percent">
                        <select id="country" name="country">
                        @foreach (var country in Model.Countries)
                        {
                            <option value="@country.country_code">@country.name</option>
                        }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col25percent">
                        <label for="bounty">Bounty</label>
                    </div>
                    <div class="col75percent">
                        <input type="text" id="bounty" name="bounty" placeholder="CAD$">
                    </div>
                </div>
                    <div class="row">
                    <div class="col25percent">
                        <label for="tags">Tags</label>
                    </div>
                    <div class="col75percent">
                        <input type="text" id="tags" name="tags" placeholder="Relevant tags">
                    </div>
                </div>
                <div class="row">
                    <div class="col25percent">
                        <label for="subject">Business Problem Description</label>
                    </div>
                    <div class="col75percent">
                        <textarea id="subject" name="subject" placeholder="Write something..." style="height:200px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Submit" id="submit_btn">
                </div>
            </form>
        </div>
    </body>
</html>