@page
@model SubmitModel
@{
    ViewData["Title"] = "Submit a new business case";
}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Submit</title>
        <script src="js/site.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-192721075-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-192721075-1');
        </script>
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KLDZ6Z2');
        </script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLDZ6Z2" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="wrapper">
            @if (TempData.Peek("logged_in") != null) {
                @foreach (var user in Model.Users)
                {
                    @if (user.email == TempData.Peek("logged_in").ToString()) {
                        <h1><span>Submit a Business Case</span></h1>
                        <div class="container">
                            <form asp-page-handler="button" onsubmit="return validateCaseSubmission()" method="post">
                                <div class="row">
                                    <div class="col25percent">
                                        <label for="company">Company</label>
                                    </div>
                                    <div class="col75percent">
                                        <input type="text" id="company" name="company" placeholder="Company" value="@user.company">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col25percent">
                                        <label for="title">Business Problem Title</label>
                                    </div>
                                    <div class="col75percent">
                                        <input type="text" id="title" name="title" placeholder="Concise and searchable title">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col25percent">
                                        <label for="country">Country</label>
                                    </div>
                                    <div class="col75percent">
                                        <select id="country" name="country">
                                        @foreach (var country in Model.Countries)
                                        {
                                            <option value="@country.country_code">@country.name</option>
                                        }
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col25percent">
                                        <label for="bounty">Bounty</label>
                                    </div>
                                    <div class="col75percent">
                                        <input type="text" id="bounty" name="bounty" placeholder="CAD$">
                                    </div>
                                </div>
                                    <div class="row">
                                    <div class="col25percent">
                                        <label for="tags">Tags</label>
                                    </div>
                                    <div class="col75percent">
                                        <input type="text" id="tags" name="tags" placeholder="Relevant tags">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col25percent">
                                        <label for="description">Business Problem Description</label>
                                    </div>
                                    <div class="col75percent">
                                        <textarea id="description" name="description" placeholder="Write something..." style="height:200px"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <input type="submit" value="Submit" id="submit_btn">
                                </div>
                            </form>
                        </div>
                        break;
                    } else {
                        <h6 class="center">Error: No User Information Found</h6>
                    }
                }
            } else {
                <div>
                    <a class="underline center" href="/Login"><h6>You must login or create an account to submit a business case</h6></a>
                </div>
            }
        </div>
    </body>
</html>